{%extends "Home.html" %}
{%block "content" %}
{% load static %}
    <div class="row mt-5 justify-content-center">
        {%for Plan in Plans%}
        <div class="col-3 mt-5" style="background-color:rgb(57, 6, 77);">
            <div class="card">
                <div class="card-body border" style="height: 400px; width: 300px;">
                    <div class="row justify-content-center" style="height:80px;">
                        <div class="col-6 my-5 ml-4">
                            <span style="background-color: #2E8BC0; color: #fff; border-top-left-radius: 10px; font-size: large;"
                                class="p-4">{{Plan.PlanName}}</span>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center" style="background-color:#bcee05;">
                        <div class="col-10 mt-4 mb-4">
                        <label>OFFER - &NonBreakingSpace;Post Upto {{Plan.MaxPost_Allowed}} Job Post</label>
                        </div>
                        <div class="ml-3 mr-3" style="color:#635e5e ;">
                            <label>To Access Over a 1 Lackh + Candidates and Recruiting Netowrks of International Companies<label></label></div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-5 mt-4 mb-4 p-3"  style="background-color:#943f11; color: #fff; border-end-end-radius: 10px;">
                        <label>In Just Rupees</label><span>&#8377;{{Plan.Price}} /- Only </span>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-7 mb-4 border">
                        <a href="ActivatePlan/{{Plan.id}}" class="btn btn-success btn-block" role="button" >Activate {{Plan.PlanName}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="row mt-5">
        <div class="col-3 mt-5" style="height: 2000px;">
        </div>
    </div>

{%endblock%}


    